APP_NAME=EventifyApi
APP_ENV=development
APP_PORT=8080
APP_URL=http://localhost:8080

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=eventify_db

JWT_SECRET=eventify_super_secret_jwt_key_2026_change_in_production
JWT_EXPIRATION_HOURS=72

UPLOAD_DIR=./uploads
